<h2> <%= @clinic.name %> Details</h2>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th><strong>Name</strong> </th>
                    <th> <strong>Address</strong></th>
                    <th> Phone number</th>

                    <th colspan="3"></th>
                  </tr>
                </thead>
              <tbody>
                <tr>
                  <td><%= @clinic.name %></td>
                    <td><%= @clinic.address %></td>
                    <td><%= @clinic.phone_number %></td>
                </tr>
              </tbody>


                </table>
              </div>



    <div>
      <p> <%= @clinic.name %> has the following departments:</p>
       <ul>
         <% @clinic.departments.each do |department|%>

          <li><%=link_to department.name, department_path(department.id)%></li>
            <% end %>
          </ul>


    </div>

    <div id="footer">

    <p> <%= link_to 'Clinics', clinics_path %> | <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Patients', patients_path %> </p>

    </div>
