<html>
  <header>
    <title> Practitioners</title>
  </header>
  <body>
     <h1> List of Practitioners:</h1>

          <table>
            <thead>
              <tr>
                <th> Practitioner Name </th>
                <th> Gender</th>
                <th> Years experience</th>
                <th> Phone number Extension</th>
                <th> Email</th>
                <th> Clinic </th>
            <th colospan="3></th>"
              </tr>
          </thead>
              <tbody>
                <% @practitioners.each do |practitioner| %>
                <tr>

                  <td><strong><%= link_to practitioner.name,  practitioner_path(practitioner.id) %></strong></td>
                  <td><%= (practitioner.gender).capitalize %></a></td>
                  <td><%= practitioner.years_experience %> years</td>
                  <td>(<%= practitioner.phone_number_ext %>)</td>
                  <td><i><%= practitioner.email %></i></td>
                  <td><%= link_to practitioner.department.clinic.name,  clinic_path(practitioner.department.clinic.id) %></td>
                </tr>
                    <% end %>
               </tbody>
         </table>
  </body>

     <div class="Navigation">
<p> ___________________________________________________________________________________</p>
         <p> <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Clinics', clinics_path %> |  <%= link_to 'Patients', patients_path %> </p>

     </div>
