<h1> This the list of all the practitioners:</h1>

  <table>
    <thead>
    <tr>
      <th> Name </th>
      <th> Gender</th>
      <th> Years experience</th>
      <th> Phone number</th>
      <th> Email</th>
      <th colospan="3></th>"
    </tr>
  </thead>
    <% @practitioners.each do |practitioner| %>
    <tr>
    <td><a href="/practitioners/<%=  practitioner.id %>"><%= practitioner.name %></a></td>
    <td><%= practitioner.gender %></a></td>
    <td><%= practitioner.years_experience %></td>
    <td><%= practitioner.phone_number_ext %></td>
    <td><%= practitioner.email %></td>

       </tr>
     <% end %>
   </tbody>
 </table>

 <div class="navigation"
   <ul>
    <li><%= link_to 'All practitioners', practitioners_path %></li>
    <li><%= link_to 'All patients', patients_path %></li>
     <li><%= link_to 'All Clinics', clinics_path %></li>
   </ul>
</div>
