<html>
  <header>
    <title> Practitioners</title>
  </header>
  <body>
     <h1> List of Practitioners:</h1>
     <div class="navigation"
     <ul>
       <li><%= link_to 'Add a new Practitioner', new_practitioner_path %></li>
     </ul>
    </div>

          <table>
            <thead>
              <tr>
                <th> Practitioner Name </th>
                <th> Gender</th>
                <th> Years experience</th>
                <th> Phone number Extension</th>
                <th> Email</th>
                <th> Clinic </th>
                <th> Number of Patients </th>
                <th> Number of Appointments </th>
                <th> Days_Available </th>
            <th colospan="3></th>"
              </tr>
          </thead>
              <tbody>
                <% @practitioners.each do |practitioner| %>
                <tr>

                  <td><strong><%= link_to practitioner.name,  practitioner_path(practitioner.id) %></strong></td>
                  <td><%= (practitioner.gender).capitalize %></a></td>
                  <td><%= practitioner.years_experience %> years</td>
                  <td>(<%= practitioner.phone_number_ext %>)</td>
                  <td><i><%= practitioner.email %></i></td>
                  <td><%= link_to practitioner.department.clinic.name,  clinic_path(practitioner.department.clinic.id) %></td>
                  <td><%= practitioner.number_of_patients %></td>
                  <td><%= practitioner.number_of_appointments %> </td>
                  <td><%  practitioner.unique_availability_dates.map do |date| %>
                  <%= link_to date.strftime("%A, %b %d"),  new_appointment_path + "?practitioner_id=#{practitioner.id}&date=#{date}"%>
                  <% end %>
                  </td>
                </tr>
                    <% end %>
               </tbody>
         </table>
  </body>
