

<html>
  <header>
  </header>
  <body>
      <table>
        <thead>
          <tr>
            <th> Name </th>
            <th> Gender</th>
            <th> Years experience</th>
            <th> Phone number Extension</th>
            <th> Email</th>

           <th colospan="3></th>"
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @practitioner.name %></td>
            <td><%= @practitioner.gender %></td>
            <td><%= @practitioner.years_experience %></td>
            <td><%= @practitioner.phone_number_ext %></td>
            <td><%= @practitioner.email %></td>
          </tr>
        </tbody>

      </table>
  </body>
  <footer>
      <div id="footer">

           <p> <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Clinics', clinics_path %> |  <%= link_to 'Patients', patients_path %> </p>

       </div>
  </footer>
 </html>
