<h1>Practitioner Details</h1>

<html>
  <header>
  </header>
  <body>
      <table>
        <thead>
          <tr>
            <th> Name </th>
            <th> Gender</th>
            <th> Years experience</th>
            <th> Phone number Extension</th>
            <th> Email</th>

           <th colospan="3></th>"
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @practitioner.name %></td>
            <td><%= @practitioner.gender %></td>
            <td><%= @practitioner.years_experience %></td>
            <td><%= @practitioner.phone_number_ext %></td>
            <td><%= @practitioner.email %></td>
          </tr>
        </tbody>

      </table>
  </body>
  <footer>
      <div id="footer">

 <br>

 <h2>Available Dates</h2>
 <h3>Click on a date to book an appointment with <%=@practitioner.name%></h3>
<br>
<ul>

  <% @practitioner.unique_availability_dates.map do |date| %>
  <li><%= link_to date.strftime("%A, %b %d"),  new_appointment_path + "?practitioner_id=#{@practitioner.id}&date=#{date}"%></li>
  <% end %>
</ul>

 
