<h1> Sign up </h1>
<div>
  <ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    <% end %>
  </ul>

</div>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit %>
<% end %>
