
<p> This is a list of all departments available through our clinics</p>
<table>
    <thead>
      <tr>
        <th><strong>Department Name</strong> </th>
        <!--clinic details  -->
        <th> Clinic Name</th>
        <th> Address</th>
        <th> Phone Number</th>
        <!--practitioner details  -->
        <th> Practitioners</th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%@departments.each do |department| %>
          <tr>

                <td> department.name</td>
                  <!--clinic details  -->
                    <td><%= department.clinic.name %></td>
                <td><%= department.clinic.address %></td>
                <td><%= department.clinic.phone_number %></td>

                  <!--practitioner details  -->

                  <td>
                    <ul>
                        <% department.practitioners.each do |practitioner|%>
                        <li> <a href="/practitioners/ <%= practitioner.id %>"><%= practitioner.name %></a>
                        <% end %>
                  </ul>
                  </td>
          </tr>
        <% end %>
    </tbody>
</table>
