<h1>Update patient</h1>
<br>
<%= render 'form' %>
</div>
<div>
<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
</div>

<div class="navigation"
<ul>
  <li><%= link_to 'Book an appointment', practitioners_path %></li>
  <li><%= link_to 'All patients', patients_path %></li>
  <li><%= link_to 'All Clinics', clinics_path %></li>
  <li><%= link_to 'New Patient', new_patient_path %></li>
</ul>
</div>
