<h1>Update patient</h1>
<br>
<%= render 'form' %>
</div>
<div>
<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
</div>

<<<<<<< HEAD
<div class="navigation"
<ul>
  <li><%= link_to 'Book an appointment', practitioners_path %></li>
  <li><%= link_to 'All patients', patients_path %></li>
  <li><%= link_to 'All Clinics', clinics_path %></li>
  <li><%= link_to 'New Patient', new_patient_path %></li>
</ul>
</div>
=======
<div id="footer">

     <p> <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Clinics', clinics_path %> |  <%= link_to 'Patients', patients_path %> </p>

 </div>
>>>>>>> bf5571c67b4a5f598078d72e2f07387200bf859e
