<h1>Add patient</h1>
<br>
<%= render 'form' %>
</div>
<div>
<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
</div>

<div id="footer">

     <p> <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Clinics', clinics_path %> |  <%= link_to 'Patients', patients_path %> </p>

 </div>
