<!DOCTYPE html>
<html>
<head>
  <title> Patients </title>

</head>
<body>

      <table>
        <thead>
        <tr>
            <th><strong>Name</strong> </th>
            <th> <strong>Age</strong></th>
            <th> <strong>Address</strong></th>
            <th><strong> Medical history</strong></th>

            <th colospan="3></th>"
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @patient.name %></td>
            <td><%= @patient.age %></td>
            <td><%= @patient.address %></td>
            <td><%= @patient.medical_history %></td>
        </tr>
      </tbody>
      </table>
</body>
</html>

<div id="footer">

     <p> <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Clinics', clinics_path %> |  <%= link_to 'Patients', patients_path %> </p>

 </div>
