<h1>Book an appointment</h1>

 <div class="form">

              <ul>
              <% if flash[:errors] %>
               <% flash[:errors].each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
               <% end %>
              </ul>

      <%= form_for @appointment do |f|%>

          <%= f.hidden_field :practitioner_id, value: @practitioner.id %>
          <%= f.hidden_field :date, value: params[:date] %>

          <%= f.label 'Patient' %>
          <%= f.collection_select :patient_id, Patient.all, :id, :name %>

          <%= f.label 'Time' %>
          <%= f.collection_select :availability_id, @availabilities, :id, :time %>

      <%= f.submit %>

      <% end %>
  </div>

      <div class="Calendar">
      <h2> Calendar:</h2>

      <p><%= month_calendar do |date| %></p>
      <p>  <%= date %> </p>
      <% end %>
