<h1>Book an appointment</h1>

<div class="form">
<%= form_for(@appointment) do |f| %>

<ul>
<% if @appointment.errors.any? %>
  <% @appointment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>

<%= f.label :patient %>
<%= f.collection_select :patient_id, Patient.all, :id, :name %>

<%= f.label :date %>
<%= f.text_field :date %>

<%= f.label :time %>
<%= f.text_field :time %>

<%= f.label 'Choose a practitioner' %>
<%= f.collection_select :practitioner_id, Practitioner.all, :id, :name %>

<%= f.submit %>

<% end %>
</div>

<div class="Calendar">
<h2> Calendar:</h2>

<p><%= month_calendar do |date| %></p>
<p>  <%= date %> </p>
<% end %>
</div>
