<h1>Your Appointment</h1>

<h2>Department: <%=link_to @appointment.practitioner.department.name, clinic_path(@appointment.practitioner.department.clinic.id)%></h2>

<h3>Your are seeing: <%= link_to @appointment.practitioner.name, practitioner_path(@appointment.practitioner.id) %></h3>

<p>Your appointment is on: <%= @appointment.availability.date %></p>

<p>Your appointment is at: <%= @appointment.availability.time %></p>

<%= button_to "delete", @appointment, :method => :delete %>
