

<h1><%=@appointment.practitioner.department.name%></h1>

<h2>Your are seeing <%= @appointment.practitioner.name %></h2>

<p>Your appointment is on <%= @appointment.date %></p>

<p>Your appointment is at <%= @appointment.time %></p>


<p><%= month_calendar do |date| %></p>
<p>  <%= date %> </p>
<% end %>
