<!DOCTYPE html>
<html>
  <head>
    <title>FindAPractitioner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="footer">
<p> _____________________________________________________________________________________</p>
    <p> <%= link_to 'Clinics', clinics_path %> | <%= link_to 'Practitioners', practitioners_path %> | <%= link_to 'Patients', patients_path %> | <%= link_to 'Departments', departments_path %>   </p>

  </body>
</html>
